.container{
  height: 100vh;

  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-column-gap: 10px;
  grid-template-rows: 200px auto 200px;
  cursor: cell;
}

.delta{
  font-size: 100px;
  color: rgb(196, 178, 192);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  user-select: none;
}



.lyricbox{
  color: rgb(255, 255, 255);
  /* border: solid 1px black; */
  text-align: center;
  margin: 0;
  font-size: 38px;
  grid-column: 2;
  grid-row: 2 / 3;
  grid-row-gap: 20px;
}

.lyrics{
  font-size: 32px;
font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(100, 100, 100);
  /* color: black; */
}