*{
  font: size 16px;
}

.container{
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  cursor: cell;

}

.delta{
font-size: 8rem;
  color: rgb(53, 50, 50);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  user-select: none;
  text-shadow: 4px 4px rgb(201, 201, 201);

  

}



.lyricbox{
  color: rgb(255, 255, 255);
  /* border: solid 1px black; */
  text-align: center;
  margin: 0 auto;

  grid-column: 2;
  grid-row: 1 / 4;
  grid-row-gap: 20px;
}

.lyrics{
  font-size: 1.2rem;
font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(181, 181, 181);
  text-shadow: 4px 4px black;
}